.top-header{
  text-align: center;
}
.root{
  display: flex;
  background-color: burlywood;
  width: 50vh;
  flex-direction: row;
  padding: 20px;
  
}

body{
  background-color: antiquewhite;
}
.badge{
  display: flex;
  align-items: center;
 
  
  
}

*{
  font-size: 20px;
  padding: 0px;
}

.whole-element{
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
 
}
.adduser{
  margin-top: 500px;
  margin-right: 80px

  
}

.input-field{
 width: 30%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    
  
}

.address{
  display: flex;
  height: fit-content;

  
}


 .add-root{
  display: flex;
  gap: 60px;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
 }

 .btnresponse{
 
  margin-bottom: 20px;
 }

 